# Replace every value before passing this file to docker run --env-file.
PMMS_AUTHENTICATION_METHOD=steam
PMMS_AUTHENTICATION_GAME_ID=YOUR_PMMS_GAME_ID
PMMS_AUTHENTICATION_ENABLE_GAME_VERSION_CHECK=true
PMMS_AUTHENTICATION_GAME_VERSION=YOUR_GAME_VERSION
PMMS_AUTHENTICATION_STEAM_APP_ID=YOUR_STEAM_APP_ID
PMMS_AUTHENTICATION_STEAM_PUBLISHER_KEY=YOUR_STEAM_PUBLISHER_KEY
